<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Travel Blog" %></h1>
  <p>Share the eperiences about places you have visited!</p>
  <img src={Routes.static_path(@conn, "/images/pexels.jpeg")} alt="Travel Blog"/>
</section>

<section class="row">
  <article class="column">
    <button><%= link("View All Posts", to: "/posts") %></button>

  </article>
</section>
